// we can add some new classes here, do not customize library, make new scss file and import library and add new classes
$primary: indigo;
$base-padding: 1rem;
$base-border-thickness: 3px;

@import 'shinobi'